<nav class="md:hidden fixed bottom-0 left-0 right-0 bg-surface-container-low border-t border-outline-variant px-4 py-2 flex justify-around items-center z-50">
    <a class="flex flex-col items-center gap-1 text-primary" href="#">
        <span class="material-symbols-outlined" style="font-variation-settings: &quot;FILL&quot; 1;">home</span>
        <a href="/Default/Index" class="font-label-sm text-[10px]">
            Ana Sayfa
        </a>
    </a>
    <a class="flex flex-col items-center gap-1 text-on-surface-variant" href="#">
        <span class="material-symbols-outlined">stadium</span>
        <a href="/Match/Index" class="font-label-sm text-[10px]">
            Canlı Skor
        </a>
    </a>
    <a class="flex flex-col items-center gap-1 text-on-surface-variant" href="#">
        <span class="material-symbols-outlined">calendar_month</span>
        <a href="/Fixture" class="font-label-sm text-[10px]">
            Fikstür
        </a>
    </a>
    <a class="flex flex-col items-center gap-1 text-on-surface-variant" href="#">
        <span class="material-symbols-outlined">format_list_numbered</span>
        <a href="/Standings" class="font-label-sm text-[10px]">
            Puan Durumu
        </a>
    </a>
</nav>